body {
	background-color: #8083c9;
	font-family: monospace;
}
form {
	max-width: 20rem;
	background-color: white;
	margin: auto;
	padding: 1rem;
	bottom: 2px solid slateblue;
	text-align: center;
}
p,
p label {
	flex-direction: column;
	text-transform: uppercase;
}
input[type="text"] {
	width: 100%;
	border: 0px solid currentColor;
	border-bottom: 1px solid lightgray;
}
input[type="radio"] {
	flex-direction: row;
}

label {
	text-transform: none;
}

button {
	background-color: slateblue;
	color: white;
	padding: 1rem;
}
