#serie {
	display: flex;
	flex-direction: column;
}
#serie-images {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}
#serie-images img {
	max-width: 400px;
	max-height: 250px;
}
#serie-personas {
	justify-content: space-between;
	display: flex;
	flex-wrap: 3;
	flex-direction: row;
	flex-wrap: nowrap;
}
#serie-personas img {
	width: 90%;
}
